@model IEnumerable<CapcomFitness.Models.Comments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p class="float-start">
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back to Admin</a>
</p>
<p class="float-end">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Profile
            </th>
            <th>
                Commenter
            </th>
            <th>
                Comment
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Commenter.UserName)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
